<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <div class="containe">
            <div class="row ">
                <% if (prods.length> 0) { %>
                    <% for (let nhanvien of prods) { %>
                        <div class="card  text-black col-md-2  col-12 m-2">
                            <img src="<%= nhanvien.Image %>" alt="<%= nhanvien.name %>">
                            <div class="card-img-overlay">
                                <h6>Tên:<%= nhanvien.name %>
                                </h6>
                                <p>
                                    Ngày sinh: <%= nhanvien.doB %> <br>
                                        Lương:<%= nhanvien.salaryScale %> <br>
                                            Ngày Bắt Đầu :<%= nhanvien.startDate %> <br>
                                                Bộ phận:<%= nhanvien.department %> <br>
                                                    Ngày nghỉ :<%= nhanvien.annualLeave %> <br>
                                </p>
                                
                            </div>
                        </div>

                        <% } %>
                            <% } else { %>
                                <h1>No nhanviens Found!</h1>
                                <% } %>
            </div>
        </div>

            <%- include('./includes/end.ejs') %>